<a href="https://colab.research.google.com/github/Prudhvi1654/K-Hub_tasks/blob/main/D_1_Task1_pybasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>03/08/2025</<h1>
<h4>python basics</h4>
<h6>1.strings, string methods
, boolean, operators</h6>

<h2>STRINGS</h2>

In [48]:
#strings: used in single and double quotes.
#(' ')(" ")
print('hello')
print("hello")

#quotes insisde quotes:
print("it's alright")
print('she is "prudhvi"')

#assign string to variable
a="prdhvi"
print(a)

#multiline strings
a="""prudhvi poojitha"""
print(a)
b='''xyz'''

#strings and arrays
#a single character is simply a string with a lenght of 1
#square brackets can be used to access elements of a string
c="hello, world!"
print(c[1])

#looping through a string
#by using for loop
for x in "apple":
  print(x)

#string length: to get length of the string use (len()) function
d="hey there"
print(len(d))

#check string:if you want to check any phrase or character is present {it returns TRUE or FALSE}
txt="the best thimgs in life are free"
print("life" in txt)

#using if statement
e =" world is beautiful"
if "world" in e:
  print("yes, 'world' is present")

#check if not :it is used if the certain phrase or character is not present then NOT in is used
f= "life is beautiful"
if "world" not in f:
 print("no ,'world'is not present. ")

hello
hello
it's alright
she is "prudhvi"
prdhvi
prudhvi poojitha
e
a
p
p
l
e
9
True
yes, 'world' is present
no ,'world'is not present.

<h2>STRING METHODS</h2>

In [49]:
 '''STRING METHODS: it has a set of built in methods that you can use on strings.
upper case - .upper()
lower case - .lower()
remove white space - .strip()
replace string - .replace()
split - .split()...upto 26

'''
#upper case
a="hello"
print(a.upper())

#lower case
b= "world"
print(b.lower())

#remove white spaces
c=" hello world!"
print(c.strip())

#replace
d = "hey there"
print(d.replace("h","j"))

#split case
e = "hi world hello"
print(e.split())

#swap case
txt= "Hey There Is an Event"
x = txt.swapcase()
print(x)

#title method()
abc= "hey there i'm prudhvi"
x = abc.title()
print(x)

#zfill()
ab ="77"
y= ab.zfill(10)
print(y)

#translate():use a dictionary with ascii codes to replace (S) with (W)
#the value of S is 83 so, the value of 87 is W

mydict = {83: 87}
txt ="Hello Sam!"
print(txt.translate(mydict))

#strip case ()
xy = "    mango    "
z = xy.strip()
print("of all fruits",z, "is my fav")

#starts with()
pq = "python world"
print(pq.startswith("python"))

#splitlines()
xy ="once upon a time\nThere is a jungle"
z = xy.splitlines()
print(z)

HELLO
world
hello world!
jey tjere
['hi', 'world', 'hello']
hEY tHERE iS AN eVENT
Hey There I'M Prudhvi
0000000077
Hello Wam!
of all fruits mango is my fav
True
['once upon a time', 'There is a jungle']

<h2> BOOLEAN</h2>

In [50]:
#python BOOLEAN: represents one of two values; TRUE or FALSE
print(10<9)
print(10==9)
print (10>9)

#when you run a condition in an if statement, python return True or False
#prints the msg based on whether the condition is true or false
a = 250
b = 30
if b > a :
  print("b is greater than a ")
else:
  print (" b is not greater than a ")

# Evaluate values and variables
#the bool() function allows you to evaluate any value and give you true or false in return,
print(bool("hello"))
print(bool(15))
#here within the parameters it should not be empty
 # evaluate two variables
x ="hello"
y ="15"
print(x)
print(y)

bool("abc")
bool(123)
bool(["apple", "mango"])

#some values are false : if there is not many values evaluate to false
bool("false")
bool("none")
bool()
bool(0)
bool([])
bool({})

False
False
True
 b is not greater than a
True
True
hello
15

False

<h2>operators</h2>

In [51]:
#python operators: used to perform operations on variables and values

#Arithmetic operators:
x= 10
y=30
print(x+y) #addition
print(x-y) #subtracton
print(x*y) #multiplication
print(x/y) #division
print(x%y) #Modulus
print(x**y) # exponention
print(x//y) #floor division

#Assignment Operators
x = 5  # Assignment operator (=)
a = 3
a += 2  # Addition Assignment (+=)
print(a)
b = 6
b -= 1  # Subtraction Assignment (-=)
print(b)
c = 4
c = 3  # Multiplication Assignment (=)
print(c)
d = 10
d /= 2  # Division Assignment (/=)
print(d)
e = 9
e %= 4  # Modulus Assignment (%=)
print(e)
f = 3
f *= 2  # Exponentiation Assignment (*=)
print(f)
g = 13
g //= 2  # Floor Division Assignment (//=)
print(g)

#comparision operators

a = 10
b = 5
print(a == b)   # Equal to (==)
print(a != b)   # Not equal to (!=)
print(a > b)    # Greater than (>)
print(a < b)    # Less than (<)
print(a >= b)   # Greater than or equal to (>=)
print(a <= b)   # Less than or equal to (<=)

#Logical operators
a = True
b = False
print(a and b)   # False — because both are not True
print(a or b)    # True — because at least one is True
print(not a)     # False — because a is True, and not(True) is False.

#bitwise operators
x = 12    # Binary: 1100
y = 5     # Binary: 0101

print(x & y)    # Bitwise AND (&)
print(x | y)    # Bitwise OR (|)
print(x ^ y)    # Bitwise XOR (^)
print(x)       # Bitwise NOT (~)
print(x << 1)   # Left Shift (<<)
print(x >> 1)   # Right Shift (>>)

#Identity Operators
'''
is	True if both refer to the same object	x is y
is not	True if they refer to different objects	x is not y
'''
p = [1, 2, 3]
q = p
r = [1, 2, 3]

print(p is q)      # True, because q points to the same list as p
print(p is r)      # False, because r is a different list (even if values are same)
print(p == r)      # True, because values inside the lists are the same

#Membership Operators
#if a character is in a string
print('a' in 'cat')

#if a number is in a list
print(5 in [1, 2, 3, 4])

#if a key is in a dictionary
my_dict = {'name': 'prudhvi', 'age': 19}
print('age' in my_dict)

#if an item is NOT in a tuple
print(10 not in (1, 2, 3))

40
-20
300
0.3333333333333333
10
1000000000000000000000000000000
0
5
5
3
5.0
1
6
6
False
True
True
False
True
False
False
True
False
4
13
9
12
24
6
True
False
True
True
False
True
True

<h2>LISTS</h2>

In [52]:

#Lists are used to store multiple items in a single variable.
mylist1 = ["berry", "kiwi", "mango"]
print(mylist1)

#Allow Duplicates
mylist2 = ["berry", "kiwi", "mango", "berry","mango"]
print(mylist2)

#List Length: how many items a list has, use the len() function
mylist3 = ["berry", "kiwi", "mango", "grapes"]
print(len(mylist3))

#List Items - Data Types List items can be of any data type
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
#A list with strings, integers and boolean values
lis1 = ["abc", 34, True, 40, "female"]


#Check if Item Exists
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

['berry', 'kiwi', 'mango']
['berry', 'kiwi', 'mango', 'berry', 'mango']
4
Yes, 'apple' is in the fruits list

type()

In [53]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist)) #<class 'list'>

#list() Constructor: used to create nwe list
list(("apple", "banana"))
list("hello")

#Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

<class 'list'>
banana

In [54]:
#Negative Indexing
thislist = ["apple", "banana", "cherry"]
print(thislist[-1]) #prints the last name

#Range of Indexes : where to start and where to end the range.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) #This will return the items from position 2 to 5.
#and 5 is NOT included

#Range of Negative Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])#Negative indexing means starting from the end of the list.

cherry
['cherry', 'orange', 'kiwi']
['orange', 'kiwi', 'melon']

In [55]:
#Change Item Value
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [56]:
#Add List Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
#insert
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)
#Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

#Remove
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

#Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

#Clear the List
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'cherry']
['apple', 'cherry']
[]

In [57]:
#Loop Lists
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

#Using a While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry
apple
banana
cherry

<h1>tuples </h1>
<h6>Tuples are used to store multiple items in a single variable</h6>

In [63]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

# its also allows duplicate values

#Tuple length
thistuple = ("blackcurrant, watermelon")
print(len(thistuple))

# Access tuple items
thistuple = ("blackcurrant" , "watermelon", " cherry")
print(thistuple[1])

#Negative Indexing
print(thistuple[-1])

#Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

# Update Tuples

#Change Tuple Values
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

#Add Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

#Remove Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)


#Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

#Multiply Tuples
fruits = ('cherry', 'strawberry', 'raspberry')
mytuple = fruits * 3
print(mytuple)

#Tuple Methods
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

('apple', 'banana', 'cherry')
24
watermelon
 cherry
('cherry', 'orange', 'kiwi')
('apple', 'kiwi', 'cherry')
('apple', 'banana', 'cherry', 'orange')
('banana', 'cherry')
('a', 'b', 'c', 1, 2, 3)
('cherry', 'strawberry', 'raspberry', 'cherry', 'strawberry', 'raspberry', 'cherry', 'strawberry', 'raspberry')
2

<h1>sets</h1>

In [59]:
myset = {"kiwi", "melon", "grape"}
print(myset)

#duplicates not allowed in sets
myset = {"kiwi", "melon", "grape","kiwi"}
print(myset)

#True and 1 is considered the same value:
myset = {"kiwi", "melon", "grape","kiwi",True,1,2}
print(myset)

#False and 0 is considered the same value:
myset = {"kiwi", "melon", "grape","kiwi",False,0,1}
print(myset)

#Get the Length of a Set
myset = {"orange","apple", "mango"}
print(len(myset))

#type()
myset = {"orange" , "apple",  "mango"}
print(type(myset))

#access set items
myset = {"orange" , "apple",  "mango"}
for x in myset:

  print(x)

#element present in the set using "in" keyword
print("mango" in myset)

#element not present in the set using "not in" keyword
print("kiwi" not in myset)

print("cherry" in myset)

#add set ittems
myset = {"kiwi", "grape", "melon"}
myset.add("orange")
print("myset")

#Add Sets
bag1 = {"mango", "pineapple","rasberry"}
bag2 = {"grapes", "kiwi", "cherry"}

bag1.update(bag2)
print(bag1)

#reomve set items
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)
fruits.discard("cherry")
print(fruits)

#Remove a random item by using the pop() method:
fruits = {"promogrnite", "banana", "kiwi"}
x = fruits.pop()
print(x)
print(fruits)

# Clear() using this keyword it clears the complete set
fruits = {"promogrnite", "banana", "kiwi"}
x = fruits.clear()
print(fruits)

{'grape', 'kiwi', 'melon'}
{'grape', 'kiwi', 'melon'}
{'grape', True, 2, 'kiwi', 'melon'}
{False, 1, 'grape', 'kiwi', 'melon'}
3
<class 'set'>
mango
orange
apple
True
True
False
myset
{'grapes', 'rasberry', 'cherry', 'kiwi', 'pineapple', 'mango'}
{'cherry', 'apple'}
{'apple'}
banana
{'promogrnite', 'kiwi'}
set()

In [60]:
#union or |

set1 = {"a", "b", "c", 'd', "f"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

#Join Multiple Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = {True, False, False}
set4 = {"kiwi", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)

#join set and a tuple
x = {"arjun","krishna","ravi"}
y = (1, 2, 3)
z = x.union(y)
print(z)

#intersection or &
x = {"apple", "wipro", "deloitte"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

# Difference or -
x = {"apple", "wipro", "deloitte"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

#Symmetric Differences or ^
x = {"apple", "wipro", "deloitte","tcs"}
y = {"google", "microsoft", "apple", "amazon"}
z = x.symmetric_difference(y)
print(z)


#set methods
original_set = {1, 2, 3, 4}
copied_set = original_set.copy()
original_set.add(5)
copied_set.remove(1)
print("Original Set:", original_set)
print("Copied Set:", copied_set)

{'a', 1, 2, 'c', 3, 'd', 'b', 'f'}
{False, 1, 2, 3, 'kiwi', 'b', 'a', 'c', 'cherry'}
{1, 2, 3, 'arjun', 'ravi', 'krishna'}
{'apple'}
{'deloitte', 'wipro'}
{'tcs', 'amazon', 'google', 'deloitte', 'microsoft', 'wipro'}
Original Set: {1, 2, 3, 4, 5}
Copied Set: {2, 3, 4}

<h1>conditions and if statements</h1>

In [61]:

#if condition
a = 20
b = 30
if a<b:
  print("a is greater than b")

#elif
a = 200
b = 200
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

#And
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

#OR
a = 200
b = 33
c = 500
if a > b or c < a:
  print("Both conditions are True")

#not
a = 15
b = 20
if not a > b:
  print("a is NOT greater than b")

#Nested if
x = 15

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")


#pass statement
a = 92
b = 39
if a>b:
  print("pass")

a is greater than b
a and b are equal
Both conditions are True
Both conditions are True
a is NOT greater than b
Above ten,
but not above 20.
pass

<h1>MATCH CASES</h1>


<h6>The match expression is evaluated once.

The value of the expression is compared with the values of each case.

If there is a match, the associated block of code is executed</h6>

In [62]:
day = 6
match day:
    case 1:
        print("januaray")
    case 2:
        print("febuaray")
    case 3:
        print("march")
    case 4:
        print("April")
    case 5:
        print("may")
    case 6:
        print("june")
    case 7:
        print("July")
    case 8:
        print("August")
    case 9:
        print("September")
    case 10:
        print("October")
    case 11:
        print("November")
    case 12:
        print("December")

#Default Value
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

#Combine Values.
day = 6
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I like weekends!")

#If Statements as Guards
#You can add if statements in the case evaluation as an extra condition-check:
x = 20

match x:
    case int() if x > 0:
        print("Positive integer")
    case int() if x < 0:
        print("Negative integer")
    case int():
        print("Zero")
    case _:
        print("Not an integer")

june
Looking forward to the Weekend
I like weekends!
Positive integer